* {
    font-family: Helvetica;
    /* background-color: #F9F9F9; */
    /* background-color: rgb(249, 249, 249); */
    background: #F0F0F0;
    cursor: none !important; 
    
  }
   

  .name{
    /* color:#808080; */
    /* color: #111111; 20 */
    /* color:#464646;  */
    color: #606060;
    padding-top: 2em;
    margin: 40px 40px 20px 40px;
    padding-bottom: .8em; 
    font-size: 14px;
  }
   



  .pastlife {
    font-size: 19px;
    font-weight: 400;
    /* color:#464646;  */
    color: #464646;
    /* color: #606060; */
    position: relative;
    margin: 40px 40px -16px 40px;
    width: 55%;
    line-height: 1.6;

  }

  nav { 
    display: flex; 
    justify-content: space-between;
    width: 57%;
    min-height: 10vh; 
    align-items: left; 
    margin: 40px 10px 10px 0px;
  }

  .nav-links {
    font-size: 17px;
    /* font-weight: 400; */
    font-weight: 400;
    text-decoration: underline;
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex:1;
    color: #4d4d4d;
    /* color:#464646;  */
    /* color: #808080; */
    line-height: 1.3;
  }

  a {
    text-decoration: none;
    color: #464646; 
  }


  a.left{
    position: relative;
  }

  a.left:before {
    content: "";
    position: absolute;
    width: 0;
    margin-bottom: -2px;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #464646; 
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  a.left:hover:before {
    visibility: visible;
    width: 100%;
  }


  a.bottom{
    position: relative;
    /* color: #252525;  */
    color:#464646; 
  }

  a.bottom:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: #111111;
    visibility: hidden;
    transition: all 0.1s ease-in;
  }
  a.bottom:hover:before {
    visibility: visible;
    height: 1px;
  }

  .cursor1 {
    width: 2rem; 
    height: 2rem; 
    border: 1px solid black;
    opacity: .5;
    border-radius: 50%; 
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease; 
    transition-property: background, transform;
    transform-origin: 100% 100%;
    z-index: 1;
    backdrop-filter: blur(3px);
  }

  .link-grow { 
    transform: scale(2); 
    background-color:black;
    /* border: 0.5px solid white; */
    opacity: .1;
  }

  .section-header .section-header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 40px;
    padding-top: 32px;
    font-size: 16px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: rgb(165, 165, 165);
    font-family: monospace;
    }
    
    .section-order {
        color: #555555;
        font-size: 15px;
        padding-right: 18px;
        font-family: monospace;
    }

