* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

:root {
    --grid_columns: 12; 
    --grid_gutter: 1.52778vw; 
    --grid-margin: 40px; 
    --grid_width: calc(100% - var(--grid-margin)*2 + var(--grid_gutter)); 
}

::selection {
    background: #000000; /* WebKit/Blink Browsers */
    color: #ffffff;
  }
  

html, body{
    /* display: grid;  */
    height: 100%; 
    place-items: center; 
    background: #f7f7f5;
    margin: -100;
	font-family: -apple-system,BlinkMacSystemFont,"SF Pro Display","SF Pro Icons","neue-haas-grotesk-display","Helvetica Neue","Helvetica","Arial",sans-serif;
	-webkit-font-smoothing: antialiased; 
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 5.7vw;
    line-height: 1.2em;
    font-weight: 400;
    margin: 0;
    letter-spacing: -0.2vw;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 50px;
    text-align: left;
    margin-bottom: 4vw;

}

.first-section {
    margin: 20px 32px;
}

.highlight-text {
    color: #940000;
    background-color: #E0E0E0; 
}

.main-text,
.main-text-1 {
    font-size: 36px;
    line-height: 1.09em;
    margin: 50px 0;
}

.main-text {
    /* margin-left: calc(100%/var(--grid_columns)*6 + var(--grid_gutter)*0.5); */
    /* margin-bottom: 80px; */
    /* margin-right: 32px; */
    /* margin-left: 32px; */
    /* margin-right: auto; */
    max-width: 850px;
    /* margin-right: calc(100%/var(--grid_columns)*6 + var(--grid_gutter)*0.5);  */
}

.main-text-1 {
    /* margin-left: calc(100%/var(--grid_columns)*4 + var(--grid_gutter)*0.5); */
    /* margin-bottom: 50px; */
    /* margin-right: 32px;  */
    margin-left: auto;
    max-width: 1150px;
}

.main-text-3 { 
    font-size: 24px;
    line-height: 1.09em;
    /* margin-left: calc(100%/var(--grid_columns)*6 + var(--grid_gutter)*0.5); */
    margin-bottom: 40px;
    /* margin-right: 32px; */
    /* margin-left: calc(100%/var(--grid_columns)*2.5 + var(--grid_gutter)*0.5); */
    /* margin-right: 36px; */
    /* margin-right: calc(100%/var(--grid_columns)*6 + var(--grid_gutter)*0.5);  */
}


.sec-text { 
    font-size: 30px;
    line-height: 1.09;
    /* margin-left: calc(100%/var(--grid_columns)*6 + var(--grid_gutter)*0.5); */
    margin-bottom: 80px;
    /* margin-right: 32px; */
    margin-left: 32px;
    margin-right: 32px;
    /* margin-right: calc(100%/var(--grid_columns)*6 + var(--grid_gutter)*0.5);  */
    font-style: italic;
    font-weight: 300;
    max-width: 850px;
}

.section-subheader {
    margin-top: 60px;
    margin-bottom: 50px;
    margin-left: 32px;
    margin-right: 32px;
    /* display: grid;  */
    /* grid-template-columns: 1fr 1fr;  */
    /* grid-gap: 80px;  */
    /* column-gap: 160px; */
    /* row-gap: 120px; */
    /* width: 50%;  */
}
 
.section-1 {
    padding-bottom: 60px;
    margin-left: 36px;
    margin-right: 36px;
    max-width: 1300px;
    float: right;
}

.paragraph {
    font-family: monospace;
    font-size: 24px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 30px;
    line-height: 1.2;
}

.paragraph-2 {
    font-family: monospace;
    font-size: 26px;
    margin-top: 64px;
    margin-bottom: 30px;
    line-height: 1.2;
}

.line {
     border-top: 1px solid black;
     margin-bottom: 30px;
}

.subtitle {
    font-size: 36px; 
    letter-spacing: -1.5px;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 18px;
    font-weight: 500;
}

.section-subheader-2 { 
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 32px;
    margin-right: 32px;
    /* display: grid;  */
    /* grid-template-columns: 1fr 1fr;  */
    /* grid-gap: 80px;  */
    /* column-gap: 160px;
    row-gap: 10px;
    width: 50%;  */
}

.image-slider-pair,
.image-gallery {
    display: flex;
    gap: 64px;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image-gallery {
    row-gap: 30px;
}

.image-text-bundle {
    max-width: 750px;
}

.wrapper {
    /* height: 486px; */
    max-width: 750px;
    width: 100%;

    background: white; 
    box-shadow: 0px 0px 15px rgba(0,0,0, 0.15);
    position: relative; 
    overflow: hidden;
}

.wrapper::after {
    content: '';
    display: block;
    padding-top: 64.8%;
}

.image {
    max-width: 750px;
    box-shadow: 0px 0px 15px rgba(0,0,0, 0.15);
}

.image img {
    display: block;
    width: 100%;
}

.wrapper .images{
    height: 100%;
    width: 100%; 
    display: flex; 
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper .images .im1{
    height: 100%;
    width: 100%; 
    background:url("imgs/ir-mosq-after.jpg") no-repeat;
    background-size: cover;
}

.wrapper .images .im2{
    position: absolute;
    height: 100%;
    width: 100%; 
    background:url("imgs/ir-mosq-before.jpg") no-repeat;
    background-size: cover;
}


.wrapper .slider{
    position: absolute; 
    top: 0; 
    height: 100%;
    width: 100%; 
    z-index: 99;
}

.wrapper .slider input{
    position: absolute;
    width: 100%; 
    outline: none; 
    background: none;
    -webkit-appearance: none;
    cursor: ew-resize;
}

.slider input::-webkit-slider-thumb{
    height: 486px; 
    width: 3px; 
    background: none;
    -webkit-appearance: none;
}

.slider .drag-line{
    width: 3px; 
    height: 100%;
    position: absolute; 
    left: 49.85%;
    pointer-events: none;
}

.slider .drag-line::before, 
.slider .drag-line::after{
    position: absolute; 
    content:""; 
    width: 100%;
    height: calc(50% - 21px);
    background: #fff;
    opacity: 50%;
}
.slider .drag-line::before{
    top: 0; 
}
.slider .drag-line::after{
    bottom: 0; 
} 
.slider .drag-line span{
    height: 42px; 
    width: 42px;
    border: 3px solid white;
    opacity: 80%;
    position: absolute; 
    top: 50%; 
    bottom: 50%; 
    border-radius: 50%;
    transform: translate(-50%,-50%);  
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 38px;
    }
    .main-text,
    .main-text-1 {
        font-size: 24px;
    }
    .paragraph {
        font-size: 18px;
    }
    .paragraph-2 {
        font-size: 20px;
    }
    .sec-text {
        font-size: 24px;
    }
    .main-text-3 {
        font-size: 20px;
    }

    .image-slider-pair {
        position: relative;
        left: -32px;
        width: calc(100% + 64px);
    }
    .image-slider-pair p {
        margin-left: 32px;
        margin-right: 32px;
    }
}